<% provide(:title, "Home") %>

<div class="container">
  <% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/current_user' %>
      </section>
      <section class="info">
        <%= render 'shared/info' %>
      </section>
      <section class="post">
        <%= render 'shared/post' %>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @all_posts.any? %>
      <ol class="posts">
        <%= render @all_posts %>
      </ol>
      <%= will_paginate @all_posts %>
      <% end %>
    </div>
  </div>
  <% else %>
  <br>
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <h4>Receive free coupons, free shipping, and a T-Shirt for signing up!*</h4>
      </div>
      <div class="col-md-4">
        <%= link_to "Sign Up", users_new_path,
        class: "btn btn-lg btn-success btn-block"%>
      </div>
    </div>
  </div>
  <h6>**Not really, but you should still sign up!**</h6>
  <% end %>
  <div class="row">
    <%= render "partials/carousel" %>
  </div>
</div>
